<?xml version="1.0" encoding="UTF-8" ?>
<Context>
    <Resource
            name="jdbc/ecourse"
            auth="Container"
            type="javax.sql.DataSource"
            maxActive="100"
            maxIdle="30"
            maxWait="10000"
            driverClassName="oracle.jdbc.driver.OracleDriver"
            url="jdbc:oracle:thin:@localhost:1521:XE"
            username="ECOURSE"
            password="12345"
    />
</Context>